* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #222;
}


/* PHONE */

.phone {
    width: 350px;
    height: 700px;

    background: #080808;

    border: 5px solid #333;

    border-radius: 45px;

    padding: 10px;

    position: relative;

    overflow: hidden;

    box-shadow:
        0 20px 50px rgba(0,0,0,0.7),
        inset 0 0 8px #777;
}


/* SPEAKER */

.speaker {
    position: absolute;

    width: 70px;
    height: 5px;

    background: #222;

    border-radius: 10px;

    top: 13px;
    left: 50%;

    transform: translateX(-50%);

    z-index: 10;
}


/* CAMERA */

.camera {
    position: absolute;

    width: 8px;
    height: 8px;

    background: #172333;

    border-radius: 50%;

    top: 11px;
    left: calc(50% + 50px);

    z-index: 10;
}


/* SCREEN */

.screen {
    width: 100%;
    height: 100%;

    background: #f7f7f7;

    border-radius: 35px;

    overflow: hidden;

    position: relative;
}


/* STATUS BAR */

.status-bar {
    height: 45px;

    padding: 12px 20px 0;

    display: flex;

    justify-content: space-between;

    color: #222;

    font-size: 13px;
}

.status-icons {
    display: flex;
    gap: 8px;
}


/* DISPLAY */

.display {
    height: 190px;

    display: flex;

    align-items: flex-end;

    justify-content: flex-end;

    padding: 20px;
}

#result {
    width: 100%;

    border: none;

    outline: none;

    background: transparent;

    text-align: right;

    font-size: 46px;

    color: #222;
}


/* BUTTON AREA */

.buttons {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 1px;

    margin: 0 12px;

    border: 1px solid #aaa;
}


/* BUTTONS */

button {
    height: 67px;

    border: 1px solid #aaa;

    background: #eee;

    color: #222;

    font-size: 22px;

    cursor: pointer;

    transition: 0.1s;
}


/* BUTTON CLICK */

button:active {
    transform: scale(0.94);

    background: #ccc;
}


/* BLUE BUTTONS */

.operator {
    background: #58a9ed;

    color: white;
}

.operator:active {
    background: #348bd0;
}


/* ZERO */

.number {
    background: rgb(185, 182, 182)
}


/* HOME BAR */

.home-bar {
    position: absolute;

    width: 100px;
    height: 4px;

    background: #222;

    border-radius: 10px;

    bottom: 8px;

    left: 50%;

    transform: translateX(-50%);
}

